<%- include('partials/header') -%>
    <section id="Emergency">
        <div class="container">
            <div class="my-3 p-3 bg-body rounded shadow-lg">
                <h6 class="border-bottom pb-2 mb-0">Emergency Helpline Coontacts</h6><p class="emergency-hint"> (Click on any number to make a call)</p>
                <div class="d-flex text-muted pt-3">
                    <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/></svg>
                    <p class="pb-3 mb-0 small lh-sm border-bottom">
                        <strong class="d-block text-gray-dark"><a href="tel:+91 139">Medical emergency: -  139</a></strong>
                        This number can be used to avail medical assistance during a train journey. Passengers can call this number for any medical emergency, such as a heart attack, stroke, or any other health emergency. This number can also provide information on the availability of doctors and medical facilities in trains or at railway stations.                    </p>
                </div>
                <div class="d-flex text-muted pt-3">
                    <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#e83e8c"/></svg>
                    <p class="pb-3 mb-0 small lh-sm border-bottom">
                        <strong class="d-block text-gray-dark"><a href="tel:+91 189">Police emergency: -  189</a></strong>
                        This number can be used to report any crime or law and order issue during a train journey. Passengers can call this number for assistance in case of theft, robbery, or any other security threat. Railway police can be contacted through this number for any emergency.                    </p>
                </div>
                <div class="d-flex text-muted pt-3">
                    <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#62CDFF"/></svg>
                    <p class="pb-3 mb-0 small lh-sm border-bottom">
                        <strong class="d-block text-gray-dark"><a href="tel:+91 1072"> Accident and safety helpline: -  1072</a></strong>
                        This number can be used to report any accident or safety-related issues during a train journey. Passengers can call this number in case of train accidents, derailments, or any other safety-related issues. This number provides assistance and support during such emergencies.                    </p>
                </div>
                <div class="d-flex text-muted pt-3">
                    <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"/></svg>
                    <p class="pb-3 mb-0 small lh-sm border-bottom">
                        <strong class="d-block text-gray-dark"><a href="tel:+91 182"> Women helpline: - 182</a></strong>
                        This number can be used by women to report harassment or safety-related issues faced during a train journey. Passengers can call this number for assistance in case of any emergency. The railway authorities take prompt action in such cases.

                    </p>
                </div>
                <div class="d-flex text-muted pt-3">
                    <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#FBFFB1"/></svg>
                    <p class="pb-3 mb-0 small lh-sm border-bottom">
                        <strong class="d-block text-gray-dark"><a href="tel:+91 1098"> Child helpline: - 1098</a></strong>
                        This number can be used to report cases of child abuse, trafficking or runaways during a train journey. Passengers can call this number for assistance in case of any emergency. The railway authorities work closely with child protection agencies to provide immediate assistance to the child.                    </p>
                </div>
                <div class="d-flex text-muted pt-3">
                    <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#FFACAC"/></svg>
                    <p class="pb-3 mb-0 small lh-sm border-bottom">
                        <strong class="d-block text-gray-dark"><a href="tel:+91 155210"> Vigilance helpline: - 155210</a></strong>
                        This number can be used to report any corrupt practices or malpractices observed during a train journey. Passengers can call this number to report any suspicious activity or behavior of railway staff or other passengers.                    </p>
                </div>
                <div class="d-flex text-muted pt-3">
                    <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#CBE4DE"/></svg>
                    <p class="pb-3 mb-0 small lh-sm border-bottom">
                        <strong class="d-block text-gray-dark"><a href="tel:+91 58888"> Clean my coach: - 58888</a></strong>
                        This number can be used to request cleaning services for your train coach. Passengers can call this number to request cleaning services for their train coach during the journey.                    </p>
                </div>
                <div class="d-flex text-muted pt-3">
                    <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#0E8388"/></svg>
                    <p class="pb-3 mb-0 small lh-sm border-bottom">
                        <strong class="d-block text-gray-dark"><a href="tel:+91 182">Security helpline (RPF): - 182</a></strong>
                        This number can be used to report any security-related issues during a train journey. Passengers can call this number for assistance in case of any emergency.                    </p>
                </div>
                <div class="d-flex text-muted pt-3">
                    <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#2C3333"/></svg>
                    <p class="pb-3 mb-0 small lh-sm border-bottom">
                        <strong class="d-block text-gray-dark"><a href="tel:+91 1800111321"> Catering and food complaints: - 1800111321</a></strong>
                        This number can be used to report any issues related to food or catering services during a train journey. Passengers can call this number to report any complaints regarding the quality or quantity of food, or any other related issue.                    </p>
                </div>
                <div class="d-flex text-muted pt-3">
                    <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#539165"/></svg>
                    <p class="pb-3 mb-0 small lh-sm border-bottom">
                        <strong class="d-block text-gray-dark"><a href="tel:+91 139"> Customer care: - 139</a></strong>
                        This number can be used to get information on train timings, seat availability, fare details, and other related queries. Passengers can call this number for any general assistance required during a train journey.                    </p>
                </div>
            </div>
            <div class="p-4 p-md-5 mb-2 rounded text-bg-light shadow-lg">
                <div class="col px-0">
                    <h5 class="display-7 fst-italic">Government Railway Police (GRP)</h5>
                    <p class="lead my-3">GRP stands for Government Railway Police, which is a specialized police force responsible for maintaining law and order, ensuring the safety and security of passengers, and preventing criminal activities on Indian Railways. The GRP comes under the jurisdiction of each state's police department and is responsible for providing security and assistance to passengers on trains and railway premises. The GRP has a vast network of police stations and control rooms across the country to respond to emergencies and maintain law and order on the railways. They work in close coordination with the Railway Protection Force (RPF) to ensure the safety and security of passengers. The GRP personnel are trained in handling various situations, such as crowd control, responding to medical emergencies, and investigating criminal activities on trains and railway premises. They also provide assistance to passengers in case of lost or stolen belongings, ticket-related issues, and other general grievances. Apart from their regular duties, the GRP also conduct special drives and campaigns to create awareness among passengers about safety and security measures, such as avoiding carrying valuables and cash while travelling, not accepting food or drink from strangers, and reporting any suspicious activities or persons to the authorities. In summary, the GRP is a specialized police force dedicated to ensuring the safety and security of passengers on Indian Railways, and they play a crucial role in maintaining law and order on trains and railway premises.</p>
                </div>
                <div class="row my-3 p-3 bg-body rounded shadow-sm">
                    <h6 class="border-bottom pb-2 mb-0">GRP Helpline Contact</h6>
                    <div class="col">
                        <div class="d-flex text-muted pt-3">
                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#50FFB6"/></svg>
                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                                <div class="d-flex justify-content-between">
                                    <strong class="text-gray-dark">GRP Helpline Number (All India)</strong>
                                </div>
                                <span class="d-block">1512</span>
                            </div>
                        </div>
                        <div class="d-flex text-muted pt-3">
                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#50FFB6"/></svg>
                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                                <div class="d-flex justify-content-between">
                                    <strong class="text-gray-dark">GRP Mumbai Helpline Number</strong>
                                </div>
                                <span class="d-block">98333 31111</span>
                            </div>
                        </div>
                        <div class="d-flex text-muted pt-3">
                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#50FFB6"/></svg>
                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                                <div class="d-flex justify-content-between">
                                    <strong class="text-gray-dark">GRP Jaipur Helpline Number</strong>
                                </div>
                                <span class="d-block">014122 07906</span>
                            </div>
                        </div>
                        <div class="d-flex text-muted pt-3">
                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#50FFB6"/></svg>
                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                                <div class="d-flex justify-content-between">
                                    <strong class="text-gray-dark">GRP Delhi Helpline Number</strong>
                                </div>
                                <span class="d-block">155655</span>
                            </div>
                        </div>
                        <div class="d-flex text-muted pt-3">
                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#50FFB6"/></svg>
                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                                <div class="d-flex justify-content-between">
                                    <strong class="text-gray-dark">GRP Bhopal Helpline Number</strong>
                                </div>
                                <span class="d-block">075527 46385</span>
                            </div>
                        </div>
                        <div class="d-flex text-muted pt-3">
                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#50FFB6"/></svg>
                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                                <div class="d-flex justify-content-between">
                                    <strong class="text-gray-dark">GRP Lucknow Helpline Number</strong>
                                </div>
                                <span class="d-block">052226 30238</span>
                            </div>
                        </div>
                        <div class="d-flex text-muted pt-3">
                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#50FFB6"/></svg>
                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                                <div class="d-flex justify-content-between">
                                    <strong class="text-gray-dark">GRP Patna Helpline Number</strong>
                                </div>
                                <span class="d-block">061222 01389</span>
                            </div>
                        </div>
                        <div class="d-flex text-muted pt-3">
                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#50FFB6"/></svg>
                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                                <div class="d-flex justify-content-between">
                                    <strong class="text-gray-dark">GRP Guwahati Helpline Number</strong>
                                </div>
                                <span class="d-block">99540 10676</span>
                            </div>
                        </div>
                        <div class="d-flex text-muted pt-3">
                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#50FFB6"/></svg>
                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                                <div class="d-flex justify-content-between">
                                    <strong class="text-gray-dark">GRP Thiruvananthapuram Helpline Number</strong>
                                </div>
                                <span class="d-block">94979 63100</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex text-muted pt-3">
                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#50FFB6"/></svg>
                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                                <div class="d-flex justify-content-between">
                                    <strong class="text-gray-dark">GRP Kolkata Helpline Number</strong>
                                </div>
                                <span class="d-block">98300 38352</span>
                            </div>
                        </div>
                        <div class="d-flex text-muted pt-3">
                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#50FFB6"/></svg>
                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                                <div class="d-flex justify-content-between">
                                    <strong class="text-gray-dark">GRP Chennai Helpline Number</strong>
                                </div>
                                <span class="d-block">99625 00500</span>
                            </div>
                        </div>
                        <div class="d-flex text-muted pt-3">
                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#50FFB6"/></svg>
                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                                <div class="d-flex justify-content-between">
                                    <strong class="text-gray-dark">GRP Bangalore Helpline Number</strong>
                                </div>
                                <span class="d-block">080223 54108</span>
                            </div>
                        </div>
                        <div class="d-flex text-muted pt-3">
                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#50FFB6"/></svg>
                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                                <div class="d-flex justify-content-between">
                                    <strong class="text-gray-dark">GRP Hyderabad Helpline Number</strong>
                                </div>
                                <span class="d-block">097000 01020</span>
                            </div>
                        </div>
                        <div class="d-flex text-muted pt-3">
                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#50FFB6"/></svg>
                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                                <div class="d-flex justify-content-between">
                                    <strong class="text-gray-dark">GRP Ahmedabad Helpline Number</strong>
                                </div>
                                <span class="d-block">079265 76664</span>
                            </div>
                        </div>
                        <div class="d-flex text-muted pt-3">
                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#50FFB6"/></svg>
                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                                <div class="d-flex justify-content-between">
                                    <strong class="text-gray-dark">GRP Pune Helpline Number</strong>
                                </div>
                                <span class="d-block">020261 26296</span>
                            </div>
                        </div>
                        <div class="d-flex text-muted pt-3">
                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#50FFB6"/></svg>
                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                                <div class="d-flex justify-content-between">
                                    <strong class="text-gray-dark">GRP Secunderabad Helpline Number</strong>
                                </div>
                                <span class="d-block">040277 86170</span>
                            </div>
                        </div>
                        <div class="d-flex text-muted pt-3">
                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#50FFB6"/></svg>
                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                                <div class="d-flex justify-content-between">
                                    <strong class="text-gray-dark">GRP Vijayawada Helpline Number</strong>
                                </div>
                                <span class="d-block">086625 74110</span>
                            </div>
                        </div>
                        <div class="d-flex text-muted pt-3">
                            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#50FFB6"/></svg>
                            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                                <div class="d-flex justify-content-between">
                                    <strong class="text-gray-dark">GRP Chandigarh Helpline Number</strong>
                                </div>
                                <span class="d-block">017227 05076</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
<%- include('partials/footer') -%>
