<%- include('partials/header'); -%>
     <!-- <section id="pnr-query">
    <form action="/pnr-status" method="post">
     <div>
        <a class="btn btn-outline-success btn-md more-feature-button" href="https://www.indianrail.gov.in/enquiry/PNR/PnrEnquiry.html?locale=en">PNR status</a>
     </div>
    </form>
 </section> -->
<%- include('partials/footer'); -%> 