<%- include('partials/header') -%>

    <section id="running">
        <form action="/running-status" method="post" class="running-form-input">
            <div>
              <a class="btn btn-outline-success btn-md more-feature-button" href="https://enquiry.indianrail.gov.in/mntes/">Running Status</a>
            </div>
        </form>
    </section>
<%- include('partials/footer') -%>
