<%- include('partials/header') -%>

    <section id="Station">
        <form action="/station-info" method="post" class="Stationinput">
            <div>
                <a class="btn btn-outline-success btn-md more-feature-button" href="https://www.nationalrail.co.uk/find-a-station/">station-info</a>
            </div>
        </form>
    </section>
<%- include('partials/footer') -%>
