<%- include('partials/header') -%>

    <section id="TBWS">
        <form action="/TBWS" method="post" class="TBWSinput">
            <div>
                <a class="btn btn-outline-success btn-md more-feature-button" href="https://www.railyatri.in/trains-between-stations">Train b/w stat</a>
            </div>
        </form>
    </section>
<%- include('partials/footer') -%>
