<%- include('partials/header') -%>

    <section id="Availability">
        <form action="/fare" method="post" class="Availabilityinput">
            <div>
              <a class="btn btn-outline-success btn-md more-feature-button" href="https://trains.wego.com/?wego_click_id=484da4af-169d-4adf-9206-53872cd6af0c&_gl=1*1qw2rj9*_ga*MTA1MjQ4NjU5Ni4xNjg0MDcyMTI2*_ga_VG6EGRH8EN*MTY4NDA3MjEyNi4xLjAuMTY4NDA3MjEyNi4wLjAuMA..">Ticket Availability</a>
            </div>
            
        </form>
    </section>
<%- include('partials/footer') -%>
