<%- include('partials/header') -%>

    <section id="train-info">
        <form action="/train-info" method="post" class="train-info-form-input">
            <div>
                <a class="btn btn-outline-success btn-md more-feature-button" href="https://indianrailways.info/train_time_table/">Train Info.</a>
            </div>
        </form>
    </section>
<%- include('partials/footer') -%>
