#title{
    padding-top: 10px;
    padding-bottom: 10px;

}
body{
    background-color: #ffffff;
}
.nav{
    margin: 0 10%;
    padding: 1%;
}
.host{
    text-decoration: none;
}
.host h3{
    font-family: 'Shantell Sans', cursive;
    color: #06d28e;
    font-weight: bold;
    font-style: oblique;
    text-shadow: 3px 1px 2px rgb(0, 102, 61);
}
.host h3:hover{
    animation-name: translation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 1;
}
@keyframes translation{
    0%{
        transform: translateY(0);
       
}
100%{
    transform: translateY(-15%);
}
}
.nav-item{
    margin: 0 7px;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Righteous', cursive;
}
.login{
    border: 1px solid black
}
.colapse{
    margin-left: 5%;
}
.nav-item:hover{
    transition: 0.7s;
    box-shadow:   -6px -6px 15px 0px #ABFFE3,   -3px -3px 4px 0px #55cda5,   6px 6px 15px 0px #2ecd98,   3px 3px 4px 0px #06d28e;
    
}
.title-content
{
    background-color: white;
    
    background-image: url("../images/Train-bro.svg");
    background-repeat:no-repeat;
    background-position: center;
    background-size: 100%;
    backface-visibility: hidden;
    border-radius: 20px;
    
    margin: 2% 10%;
    padding: 3%;
    -webkit-backface-visibility: hidden;
    position: relative;
    z-index: 100;
}
.title-img{
    margin-top: 7%;
    text-align: left;
}
.title-img img{
    width: 60%;
}
.switch{
    text-align: center;
    margin-top: 3%;
}
.switch-btn{
    border: none;
    background-color: white;
    color: #00ad73;
}
.g-3{
    margin: auto;
}
.g-3 label{
    text-align:center;
    background-color: #a4ffd9;
    width: 100%;
    border-radius: 10px;
   
}
.Title-heading{
    font-size: 50px;
    font-weight: bold;
    line-height: 1.5;
    font-family: 'Ubuntu', sans-serif;
}
.p-5{
    background-color: white;
}
.gototop2{
  width:99%;
  padding: none;
}
.goto-top{
  margin-left:-100%;
  position:fixed;
  bottom:20px;
  right:40px;
  z-index: 99999;
}
.top{
    border-radius: 100px;
    
}
.top:hover{
    background-color: #fff200;
    color: black;
    transition: 0.5s;
    
    border: none;
}


.custom-shape-divider-top-1677185813 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1677185813 svg {
    position: relative;
    display: block;
    width: calc(204% + 1.3px);
    height: 120px;
}

.custom-shape-divider-top-1677185813 .shape-fill {
    fill: #50FFB6;
}
.features-container{
    margin: 0 10% 3%;
}
.features-container-more{
    margin: 5% 10%;
}
.features-box{
    background-color: #ecf1f4;
    border-radius: 20px;
    
}

.parallel-feature{
    padding: 5%;
}
.feature-content{
    text-align: center;
}
.feature-col-img{
    border-radius: 20px;
    
}
.card{
    border-radius: 20px;
    
}
.card-text{
    text-align: left;
}
.feature-button{
    width: 60%;
}
.more-feature-button{
    width: 80%;
}

.more-feature-button:hover{
    transition: 0.5s;
    box-shadow:   -6px -6px 15px 0px #ABFFE3,   -3px -3px 4px 0px #55cda5,   6px 6px 15px 0px #2ecd98,   3px 3px 4px 0px #06d28e;
    
}

.feature-button:hover{
    transition: 0.5s;
    box-shadow:   -6px -6px 15px 0px #ABFFE3,   -3px -3px 4px 0px #55cda5,   6px 6px 15px 0px #2ecd98,   3px 3px 4px 0px #06d28e;
    
}
.col{
    padding: 3%;
}
.col-more{
    padding: 3%;
}
.scale:hover{
    animation-name: scale;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes scale{
    0%{
        scale: 1;
}
100%{
    scale: 1.05;
}
}

.more{
    text-align: center;
}
.more-button{
    width: 20%;
}

.status{
    display: none;
}

.service-head {
    margin-top: 5%;
    text-align: center;
    text-shadow: 2px 1px 3px  rgb(0, 52, 32);
}
.service-container {
    margin: 5% 10% 0;
   display: flex;
   justify-content: center;
}

.service-box {
   text-align: center;
   padding-left: 7%;
}

.service-item {
   display: flex;
   justify-content: center;
   align-items: center;
}

.service-img {
   display: flex;
   justify-content: center;
   align-items: center;
}
.service-content{
    padding: 5% 10% 0;
    text-align: left;
}
.service-content h3{
    text-shadow: 1px 1px rgb(0, 0, 0);
}

.custom-shape-divider-bottom-1677184806 {
    position: relative;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1677184806 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 192px;
}

.custom-shape-divider-bottom-1677184806 .shape-fill {
    fill: #50ffb6;
}

.custom-shape-divider-top-1677184575 {
    position: relative;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1677184575 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 192px;
}

.custom-shape-divider-top-1677184575 .shape-fill {
    fill: #50ffb6;
}

.hr{
    margin: 5% auto 5% auto;
    border-color: #000000;
    width: 10%;
    border-style: dotted none none none;
    border-width: 0.7rem;
}
.animate-on-scroll {
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.5s ease-in-out;
}

.animate-on-scroll.animate {
  transform: translateY(30px);
  opacity: 0;
}

.info-head {
   text-align: center;
   text-shadow: 2px 1px 4px  rgb(0, 125, 77);
   margin: 0 0 3%;
}
.info-container{
    margin: 0 12% 4%;
}
.info-card-body{
    padding-left: 6%;
    text-align: left;
}
.info-more{
    text-align: center;
    margin: 0 auto 2%;
}
.info-more-button{
    width: 20%;
}
.on-scroll {
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.5s ease-in-out;
}

.on-scroll.animate {
  transform: translateY(30px);
  opacity: 0;
}
.trains-head {
   text-align: center;
   text-shadow: 2px 1px 4px  rgb(0, 125, 77);
   margin: 0 0 3%;
}

.custom-shape-divider-bottom-1677760203 {
    position: relative;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1677760203 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 189px;
}

.custom-shape-divider-bottom-1677760203 .shape-fill {
    fill: #0DE89F;
}
a{
    text-decoration: none;
    color: black;
}
.foot-container{
    width: 100%;
    background-color: #0DE89F;
    padding: 0 10% 0;
}
.footer-content{
    display:block;
    justify-content: center;
}
.footer-content a{
    font-weight: bold;
    color: white;
    transition-delay: 0.1s;
    transition-duration: 0.5s;
}
.footer-content a:hover{
    color: black;
}
.feature-img{
    padding: 0;
    border-radius: 50%;
    box-shadow: 2px 5px 25px 4px rgb(0, 87, 50);
}
.list-group-item{
    background-color: transparent;
    border: none;
    padding: 1%;
}
.footer-head{
    margin: 0 0 2%;
    width: fit-content;
}
.footer-head a:hover{
    transition-duration: 0.4s;
    color: white;
}
.form-floating{
    display: flex;
}
.contact{
    margin: 5% 0 0;
    text-align: center;
}
.contact-link{
    margin: 8% auto;
   
    justify-content: space-between;
}
.footer-hr{
    margin: 5% auto 2%;
}
.footer-last{
    text-align: center;
}
#trains{
    margin: 0 20%;
}
.carousel-inner{
    border-radius: 30px;
    box-shadow: 0px 0px 30px 0px rgb(162, 160, 160);
}

#pnr-query{
    margin: 5% 15%;
}
.pnr-input{
    width: 80%;
    border-radius: 0.5rem 0 0 0.5rem;
    
}
.pnr-button{
    width:20%;
    border-left: 0;
    border-radius: 0 0.5rem 0.5rem 0;
    text-align: center;
    display: block;
    justify-content: center;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#alert{
    margin: 0% 15%;
    min-height: 5rem;
}
.alert-message{
    color: red;
    font-size: 1rem;
}
.alert{
    text-align: center;
}


/*PNR Details page style sheet*/

.pnr{
    text-align: center;
}
.to{
    text-align: right;
}
#ticket{
    border: solid 2px black;
    margin: 5% 15%;
    border-radius: 2rem;
}
.pnr-top{
    margin: 3%;
}
.pnr-detail{
    padding: 5%;
    margin: 5% 0;
}
.arrow{
    width: 40%;
}

table{
    width: 100%;
    margin: 3% 0;
}
.h4{
    margin: 3% 0;
}
th, td{
    padding: 1%;
}
.print{
    text-align: center;
}


#TBWS{
    margin: 5% 15%;
}
.TBWSinput{
    display: flex;
}
.TBWS-input{
    width: 40%;
}
.source{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 20px;
}
.destination{ 
    border-radius:0 ;
    border-right-width: 20px;
}
.TBWS-button{
    width: 20%;
}
.TBWS-search{
    width: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#train-info{
    margin: 5% 15%;
}
.train-info-form-input{
    display:flex ;
}
.train-info-input{
    width: 80%;
}
.train-number-name{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 20px;
}
.train-info-button{
    width: 20%;
}
.train-info-search{
    width: 100%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
label{
    opacity: 0.5;
}
#running{
    margin: 5% 15%;
}
.running-form-input{
    display: flex;
}
.running-input{
    width: 40%;
}
.running-button{
    width: 20%;
}
.running-Submit{
    width: 100%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.running-select{
    border-radius: 0;
    border-right-width: 20px;
}
.running-number-name{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 20px;
}

#Station{
    margin: 5% 15%;
}
.Stationinput{
    display: flex;
}
.Station-input{
    width: 80%;
}
.Station{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 20px;
}
.Station-button{
    width: 20%;
}
.Station-search{
    width: 100%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
#fare{
    margin: 5% 15%;
}

.fareinput{
    display: flex;
}
.fare-input-number{
    width: 25%;
}
.fare-input-station{
    width: 30%;
}
.fare-button{
    width: 15%;
}
.fare-check{
    width: 100%;
}
.fare-station{
    border-radius: 0;
    border-right-width: 20px;
}
.fare-check{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.fare-number{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 20px;
}
#Availability{
    margin: 5% 15%;
}
.Ticket-Avail-top{
    display: flex;
}
.avail-input-station{
    width: 40%;
}
.avail-input-quota{
    width: 20%;
}
.avail-input-tnumber{
    width: 40%;
}
.avail-input-class-date-button{
    width: 20%;
}
.avail-check{
    width: 100%;
}
.avail-source{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 20px;
}
.avail-destination{
    border-radius: 0;
    border-right-width: 20px;
}
.avail-quota{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-right-width: 20px;
}
.avail-tnumber{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 20px;
}
.avail-class{
    border-radius: 0;
    border-right-width: 20px;
}
.avail-date{
    border-radius: 0;
    border-right-width: 20px;
}
.avail-check{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#Emergency{
    margin: 5% 15%;
}
.emergency-hint{
    opacity: 0.5;
    font-size: 0.9rem;
}
.px-0 {
  text-align: justify;
}
.lead{
    font-size: 1.1rem;
    display: inline-block;
}


#login{
    margin: 5% 15%;
    display: flex;
    background-image: url('../images/Untitled design 8.png');
    background-repeat:repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    background-clip: border-box;
    justify-content: right;
}
.form-signin {
  padding: 2%;
  width: 40%;
  background-color: #caffed;
  border-radius: 2rem;
  box-shadow:     -6px -6px 15px 0px #ABFFE3, -3px -3px 4px 0px #000000,   6px 6px 15px 0px #2ecd98,   3px 3px 4px 0px #000000;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.login-form{
    text-align: center;
}
.login-form img{
    width: 35%;
}
.login-email {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.login-password {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.forgot-password{
    margin: 2%;
}
.forgot-password a{
    color:blue;
}
.forgot-password a:hover{
    color:#00ad73;
}


.name-label{
    margin: 6%;
}
.signup-password{
    margin: 3% auto 0;
}
.signup-button{
    margin: 4% auto;
}
.password-label{
    margin: 2.5% auto 0;
}






















@media (max-width: 1180px){
    .nav-item{
        margin: 0 0.25rem;
    }
    .host h3{
        font-size: 1.5rem;
    }
    .nav{
        margin: 0 4%;
        padding: 0.2%;
    }
    .title-content
    {
        margin: 2% 4%;
        padding: 1%;
    }
    .switch{
        margin-top: 3%;
    }
    .g-3 label{
        font-size: 0.9rem;
    }
    .g-3 img{
        width: 30%;
    }
    .Title-heading{
        font-size: 2rem;
        text-align: left;
    }
    .title-img img{
        width: 10%;
    }
    .goto-top{
    margin-left:-100%;
    position:fixed;
    bottom:20px;
    right:10px;
    }
    .title-img img{
        width: 60%;
    }
    .title-img{
        text-align: left;
    }
    .features-container{
        margin: 0 7% 2%;
    }
    .features-container-more{
        margin: 4% 7%;
    }
    
    .feature-content a{
        font-size: 1.1rem;
    }
    .feature-button{
        width: 70%;
    }
    .card-text{
        font-size: 0.9rem;
    }
    .service-container {
        margin: 5% 7% 0;
    }
    .service-box {
        padding-left: 5%;
    }
    .service-content h3{
        font-size: 1.5rem;
    }
    .service-content p{
        font-size: 0.9rem;
    }
    .info-container{
        margin: 0 7% 4%;
    }
    .foot-container{
        padding: 0 6% 0;
    }
    .footer-content a{
        font-size: 0.9rem;
    }
    .footer-head a h1{
        font-size: 2.3rem;
    }
    #ticket{
    margin: 2% 11%;
    }
    #pnr-query{
        margin: 5% 7%;
    }
    .carousel-caption h2{
        font-size: 1.7rem;
    }
    .carousel-caption p{
        font-size: 1rem;
    }
    .carousel-caption a{
        font-size: 1rem;
    }
    .info-more-button{
        font-size: 1.3rem;
    }
    
    .info-card-body p{
        font-size: 1.1rem;
    }
    .form-signin {
        width: 50%;
    }
}
@media (max-width: 993px){
    
    .nav-item{
        margin: 0 3rem;
        padding-left: 2%;
    }
    .dropdown-menu{
        border: 0;
        border-radius: 30px;
        width: 98%;
    }
    .host h3{
        font-size: 1.8rem;
        margin: 0.5rem 2rem;
    }
    .nav{
        margin: 0 2%;
        padding: 0.2%;
    }
    .title-content
    {
        margin: 2% 15%;
        padding: 1%;
    }
    .switch{
        margin-top: 3%;
    }
    .g-3 label{
        font-size: 0.8rem;
    }
    .g-3 img{
        width: 20%;
    }
    .Title-heading{
        font-size: 2rem;
        text-align: left;
    }
    .title-img img{
        width: 50%;
    }
    .title-img{
        text-align: left;
    }
    .features-container{
        margin: 0 7% 2%;
    }
    .features-container-more{
        margin: 4% 7%;
    }
    .feature-content a{
        font-size: 0.9rem;
    }
    .service-container {
        margin: 5% 6% 0;
    }
    .service-box {
        padding-left: 5%;
    }
    .service-content h3{
        font-size: 1.3rem;
    }
    .service-content p{
        font-size: 0.85rem;
    }
    .info-container{
        margin: 0 6% 4%;
    }
    .info-card-body p{
        font-size: 0.9rem;
    }
    .foot-container{
        padding: 0 6% 0;
    }
    .footer-content a{
        font-size: 0.9rem;
    }
    .footer-head a h1{
        font-size: 2.1rem;
    }



    #pnr-query{
        margin: 5% 6%;
    }

    .feature-button{
        width: 90%;
    }
    
    .card-text{
        font-size: 0.8rem;
    }



    #ticket{
    margin: 3% 10%;
    }
    .h3{
        font-size: 1.2rem;
    }
    .h4{
        font-size: 1rem;
    }
    .h5{
        font-size: 0.9rem;
    }
    .p{
        font-size: 0.8rem;
    }
    th{
        font-size: 0.9rem;
    }
    td{
        font-size: 0.9rem;
    }
    .carousel-caption h2{
        font-size: 1.5rem;
    }
    .carousel-caption p{
        font-size: 0.8rem;
    }
    .carousel-caption a{
        font-size: 0.8rem;
    }
    .info-more-button{
        font-size: 1.1rem;
    }


    #login{
        margin: 5% 8%;
        display: flex;
        justify-content: center;
    }
    .form-signin {
        padding: 2%;
        width: 50%;
    }
}
@media (max-width: 768px){
    .nav{
        margin: 0 1%;
        padding: 0.1%;
    }
    .nav-item{
        margin: 0 3rem;
        padding-left: 2%;
    }
    .dropdown-menu{
        border: 0;
        border-radius: 30px;
        width: 98%;
    }
    .host h3{
        font-size: 1.8rem;
        margin: 0.5rem 2rem;
    }
    .title-content
    {
        margin: 2% 8%;
        padding: 1%;
    }
    .switch{
        margin-top: 3%;
    }
    .g-3 label{
        font-size: 0.9rem;
    }
    .g-3 img{
        width: 25%;
    }
    .Title-heading{
        font-size: 2rem;
        text-align: left;
    }
    .title-img img{
        width: 50%;
    }
    .title-img{
        text-align: left;
    }
    .features-container{
        margin: 0 7% 2%;
    }
    .features-container-more{
        margin: 4% 7%;
    }
    .feature-content a{
        font-size: 0.9rem;
    }
    .service-container {
        margin: 5% 6% 0;
    }
    .service-box {
        padding-left: 5%;
    }
    .service-content h3{
        font-size: 1.3rem;
    }
    .service-content p{
        font-size: 0.85rem;
    }
    .info-container{
        margin: 0 6% 4%;
    }
    .info-card-body p{
        font-size: 0.9rem;
    }
    .foot-container{
        padding: 0 10% 0;
    }
    .footer-content a{
        font-size: 0.9rem;
    }
    .footer-head a h1{
        font-size: 2.1rem;
    }



    #pnr-query{
        margin: 5% 6%;
    }

    .feature-button{
        width: 90%;
    }
    
    .card-text{
        font-size: 0.8rem;
    }



    #TBWS{
        margin: 5% 8%;
        padding: 5%;
    }
    .TBWSinput{
        display:inline;
    }
    .TBWS-input{
        width: 100%;
    }
    .TBWS-button{
        width: 50%;
        margin: 0 auto;
    }
    .TBWS-search{
        width: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 1rem;
    }
    .source{
        border-radius: 1rem;
    }
    .destination{
        border-radius: 1rem;
    }



    #Station{
        margin: 5% 8%;
    }



    #train-info{
        margin: 5% 8%;
    }



    #running{
        margin: 5% 8%;
    }
    .running-form-input{
        display: inline;
    }
    .running-input{
        width: 100%;
    }
    .running-button{
        width: 50%;
        margin: 0 auto;
    }
    .running-Submit{
        width: 100%;
        border-top-left-radius: 1rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 1rem;
    }
    .running-select{
        border-radius: 1rem;
        border-right-width: 20px;
    }
        .running-number-name{
            border-radius: 1rem;
            border-right-width: 20px;
    }



    #fare{
        margin: 5% 8%;
    }
    .fareinput{
        display: inline;
    }
    .fare-input-number{
        width: 100%;
    }
    .fare-input-station{
        width: 100%;
    }
    .fare-button{
        width: 50%;
        margin: 0 auto;
    }
    .fare-check{
        width: 100%;
    }
    .fare-station{
        border-radius: 1rem;
    }
    .fare-check{
        border-top-left-radius: 1rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 1rem;
    }
    .fare-number{
        border-radius: 1rem;
    }

    #Availability{
        margin: 5% 8%;
    }
    .Ticket-Avail-top{
        display: block;
    }
    
    .avail-input-station{
        width: 100%;
    }
    .avail-input-quota{
        width: 100%;
    }
    .avail-input-tnumber{
        width: 100%;
    }
    .avail-input-class-date-button{
        width: 100%;
    }
    .avail-check{
        width: 50%;
        margin: 0 auto;
    }
    .avail-source{
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-right-width: 20px;
    }
    .avail-destination{
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-right-width: 20px;
    }
    .avail-quota{
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right-width: 20px;
    }
    .avail-tnumber{
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-right-width: 20px;
    }
    .avail-class{
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-right-width: 20px;
    }
    .avail-date{
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-right-width: 20px;
    }
    .avail-check{
        border-top-left-radius: 1rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 1rem;
    }



    #ticket{
    margin: 3% 8%;
    }
    .h3{
        font-size: 1rem;
    }
    .h4{
        font-size: 0.9rem;
    }
    .carousel-caption h2{
        font-size: 1.2rem;
    }
    .carousel-caption p{
        font-size: 0.6rem;
    }
    .carousel-caption a{
        font-size: 0.6rem;
    }
    .info-more-button{
        font-size: 0.9rem;
    }
    
    .form-signin {
        width: 60%;
        padding: 3%;
    }
}
@media (max-width: 576px){

    .nav{
        margin: 0 1%;
        padding: 0.1%;
    }
    .nav-item{
        margin: 0 3rem;
        padding-left: 2%;
    }
    .dropdown-menu{
        border: 0;
        border-radius: 30px;
        width: 98%;
    }
    .host h3{
        font-size: 1.8rem;
        margin: 0.5rem 2rem;
    }
    .title-content
    {
        margin: 2% 2%;
        padding: 1%;
    }
    .switch{
        margin-top: 3%;
    }
    .g-3{
        display: flex;
    }
    .g-3 label{
        font-size: 0.9rem;
    }
    .g-3 img{
        width: 5%;
    }
    .Title-heading{
        font-size: 2rem;
        text-align: left;
    }
    .title-img img{
        width: 50%;
    }
    .title-img{
        text-align: left;
    }
    .features-container{
        margin: 0 7% 2%;
    }
    .features-container-more{
        margin: 4% 7%;
    }
    .feature-content a{
        font-size: 0.9rem;
    }
    .more{
        margin: 10% auto;
    }


    .service-head{
        margin: 13% auto;
    }
    .service-head h1{
        font-size: 2rem;
    }
    .service-container {
        margin: 5% 6% 0;
    }
    .service-box {
        padding-left: 5%;
    }
    .service-content{
        text-align: center;
    }
    .service-content h3{
        font-size: 1.3rem;
    }
    .service-content p{
        font-size: 0.9rem;
    }

    .info-container{
        margin: 0 6% 4%;
    }
    .info-card{
        margin: 8% auto;
    }
    .info-card-body p{
        font-size: 0.95rem;
    }
    
    .contact{
        margin: 10% auto;
    }
    .footer-img-col{
        display: none;
    }
    .foot-container{
        padding: 5% 10% 0;
    }
    .footer-content a{
        font-size: 0.9rem;
    }
    .info-head{
        margin: 0 auto 5%;
    }
    .footer-head a h1{
        font-size: 2.1rem;
    }


    #pnr-query{
        margin: 5% 6%;
    }
    .feature-button{
        width: 90%;
    }
    .card-text{
        font-size: 0.8rem;
    }



    #ticket{
        margin: 3% 5%;
    }
    .h3{
        font-size: 0.9rem;
    }
    .h4{
        font-size: 0.7rem;
    }

    #carouselExampleAutoplaying{
        width: 140%;
        position: relative;
        left: -20%;
        margin: 0 auto 15%;
    }
    .trains-head{
        margin: 15% auto;
    }
    .carousel-caption h2{
        font-size: 1rem;
    }
    .carousel-caption p{
        font-size: 0.5rem;
    }
    .carousel-caption a{
        font-size: 0.5rem;
    }
    .more-button{
        font-size: 0.9rem;
    }
    .form-signin {
        padding: 4%;
        width: 70%;
    }
}

